* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
button {
  transition: 0.3s;
  cursor: pointer;
  background: transparent;
  border: none;
}
button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.4;
}
i {
  font-size: 22px;
  cursor: pointer;
  color: #fff;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.nav {
  background-color: blueviolet;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  transform: translateX(-200px);
  padding-top: 21px;
}
nav i {
  padding: 20px 0;
}
nav.active {
  transform: translateX(0);
}
.menu i {
  color: blueviolet;
  padding-top: 30px;
  margin-right: 30px;
  font-size: 28px;
}
li {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
li span {
  color: #fff;
  font-size: 18px;
}
li:hover span {
  color: #ffffff74;
}
li:hover i {
  color: #ffffff74;
}
li.active i {
  color: #ffffff74;
}
li.active span {
  color: #ffffff74;
}
